## Data Wrangling on NHANES Data

#### The objective:
The first step in completing your capstone project is to collect data. Depending on your dataset, you may apply some of the data wrangling techniques that you learned in this unit. Some of you may be using standard datasets and sources, such as Kaggle or Yelp, where minimal or no data wrangling is required. Students often find that this part of the project takes a lot longer than they estimated, which is completely normal. The more work you put in, the more you’ll learn. Data wrangling is an important tool in a data scientist’s toolbox!  

__Steps:__

1. Create a Google Doc (1-2 pages) describing the data wrangling steps you took to clean the dataset. Include answers to these questions in your submission:

    1. What kind of cleaning steps did you perform?

    2. How did you deal with missing values, if any?

    3. Were there outliers, and how did you handle them?

2. Submit a link to the document.

3. Discuss it with your mentor at the next call.

4. Revise and resubmit if needed.

5. Convert the final document to a .pdf and add it to your GitHub repository for this project. This document will eventually become part of your milestone report.

Importing pandas library (for data manipulation and analysis)

In [1]:
import pandas as pd

In [2]:
#Reading SAS data files into a pandas dataframes
df_mcq = pd.read_sas('NHANES/MCQ_I_medical_conditions.XPT')
df_demo = pd.read_sas('NHANES/DEMO_I_demographics.XPT')
df_acq = pd.read_sas('NHANES/ACQ_I_acculturation.XPT')
df_huq = pd.read_sas('NHANES/HUQ_I_hospitalization.XPT')
df_hiq = pd.read_sas('NHANES/HIQ_I_health_insurance.xpt')

#Merging the five dataframes together into one large dataframe
df_full = df_mcq.merge(df_demo, on='SEQN', how='outer') \
.merge(df_acq, on='SEQN', how='outer').merge(df_huq, on='SEQN', how='outer') \
.merge(df_hiq, on='SEQN', how='outer')
#Removing values with response: "Refused" or "Don't Know" (rows with 77777 or 99999 values, respectively)
df_full = df_full[(df_full != 99999) & (df_full != 77777)]

#Confirming pandas dataframe has been created
type(df_full)

pandas.core.frame.DataFrame

In [3]:
# Exploring the dataset
print(df_full.head())
print(df_full.tail())

      SEQN  MCQ010  MCQ025  MCQ035  MCQ040  MCQ050  AGQ030  MCQ053  MCQ080  \
0  83732.0     2.0     NaN     NaN     NaN     NaN     NaN     2.0     1.0
1  83733.0     2.0     NaN     NaN     NaN     NaN     NaN     2.0     2.0
2  83734.0     1.0    60.0     1.0     2.0     2.0     1.0     2.0     1.0
3  83735.0     2.0     NaN     NaN     NaN     NaN     NaN     2.0     1.0
4  83736.0     1.0    10.0     2.0     NaN     NaN     NaN     2.0     2.0

   MCQ092  ...  HIQ031F  HIQ031G  HIQ031H  HIQ031I  HIQ031J  HIQ031AA  HIQ260  \
0     2.0  ...      NaN      NaN      NaN      NaN      NaN       NaN     NaN
1     2.0  ...      NaN      NaN      NaN      NaN      NaN       NaN     NaN
2     2.0  ...      NaN      NaN      NaN      NaN      NaN       NaN     NaN
3     2.0  ...      NaN      NaN      NaN      NaN      NaN       NaN     NaN
4     2.0  ...      NaN      NaN      NaN      NaN      NaN       NaN     NaN

   HIQ105  HIQ270  HIQ210
0     NaN     1.0     2.0
1     NaN     NaN     NaN
2     1.0     1.0     2.0
3     NaN     1.0     2.0
4     NaN     1.0     2.0

[5 rows x 166 columns]
         SEQN  MCQ010  MCQ025  MCQ035  MCQ040  MCQ050  AGQ030  MCQ053  MCQ080  \
9966  93444.0     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
9967  93497.0     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
9968  93507.0     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
9969  93542.0     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
9970  93635.0     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN

      MCQ092  ...  HIQ031F  HIQ031G  HIQ031H  HIQ031I  HIQ031J  HIQ031AA  \
9966     NaN  ...      NaN      NaN      NaN      NaN      NaN       NaN
9967     NaN  ...      NaN      NaN      NaN      NaN      NaN       NaN
9968     NaN  ...      NaN      NaN      NaN      NaN      NaN       NaN
9969     NaN  ...      NaN      NaN      NaN     22.0      NaN       NaN
9970     NaN  ...      NaN      NaN      NaN      NaN      NaN       NaN

      HIQ260  HIQ105  HIQ270  HIQ210
9966     NaN     NaN     1.0     2.0
9967     NaN     NaN     1.0     2.0
9968     NaN     NaN     NaN     NaN
9969     NaN     NaN     1.0     2.0
9970     NaN     NaN     1.0     2.0

[5 rows x 166 columns]

In [4]:
df_full.columns

Index(['SEQN', 'MCQ010', 'MCQ025', 'MCQ035', 'MCQ040', 'MCQ050', 'AGQ030',
       'MCQ053', 'MCQ080', 'MCQ092',
       ...
       'HIQ031F', 'HIQ031G', 'HIQ031H', 'HIQ031I', 'HIQ031J', 'HIQ031AA',
       'HIQ260', 'HIQ105', 'HIQ270', 'HIQ210'],
      dtype='object', length=166)

In [5]:
df_full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9971 entries, 0 to 9970
Columns: 166 entries, SEQN to HIQ210
dtypes: float64(166)
memory usage: 12.7 MB

In [6]:
#selecting a few columns of interest. RIAGENDR = participant's gender; 
#RIDAGEYR = Current age of participant;
# MCQ160b = 'Have you ever been told you have congestive heart failure? (Y/N); 
# MCQ180b = Age when told you had heart failure; 
# MCQ160c = 'Have you ever been told you had coronary heart disease?'(Y/N)
# MCQ180c = Age of onset of coronary heart disease
# MCQ160d = 'Have you ever been told you have angina/angina pectoris? (Y/N); 
# MCQ180d = Age of onset of angina/angina pectoris 
# MCQ160e = 'Ever told you had a heart attack'(Y/N)
# MCQ180e = Age when told you had a heart attack
# MCQ160f = 'Have you ever been told you had a stroke?'(Y/N)
# MCQ180f = Age when told you had a stroke

# HUD080 = Number of hospital stays in the last year (participant answered 1 or more hospital stays to this question)

df_selected = df_full[['RIAGENDR', 'RIDAGEYR', 'MCQ160B', 'MCQ180B', 'MCQ160C', 'MCQ180C','MCQ160D', 'MCQ180D', 'MCQ160E', 'MCQ180E', 'MCQ160F', 'MCQ180F', 'HUQ071', 'HUD080']]
df_selected.columns

Index(['RIAGENDR', 'RIDAGEYR', 'MCQ160B', 'MCQ180B', 'MCQ160C', 'MCQ180C',
       'MCQ160D', 'MCQ180D', 'MCQ160E', 'MCQ180E', 'MCQ160F', 'MCQ180F',
       'HUQ071', 'HUD080'],
      dtype='object')

In [7]:
df_selected.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9971 entries, 0 to 9970
Data columns (total 14 columns):
RIAGENDR    9971 non-null float64
RIDAGEYR    9971 non-null float64
MCQ160B     5719 non-null float64
MCQ180B     209 non-null float64
MCQ160C     5719 non-null float64
MCQ180C     239 non-null float64
MCQ160D     5719 non-null float64
MCQ180D     131 non-null float64
MCQ160E     5719 non-null float64
MCQ180E     246 non-null float64
MCQ160F     5719 non-null float64
MCQ180F     205 non-null float64
HUQ071      9971 non-null float64
HUD080      868 non-null float64
dtypes: float64(14)
memory usage: 1.1 MB

In [8]:
#Viewing data types and count of non-null elements for selected columns.
df_selected.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9971 entries, 0 to 9970
Data columns (total 14 columns):
RIAGENDR    9971 non-null float64
RIDAGEYR    9971 non-null float64
MCQ160B     5719 non-null float64
MCQ180B     209 non-null float64
MCQ160C     5719 non-null float64
MCQ180C     239 non-null float64
MCQ160D     5719 non-null float64
MCQ180D     131 non-null float64
MCQ160E     5719 non-null float64
MCQ180E     246 non-null float64
MCQ160F     5719 non-null float64
MCQ180F     205 non-null float64
HUQ071      9971 non-null float64
HUD080      868 non-null float64
dtypes: float64(14)
memory usage: 1.1 MB

In [9]:
#Decided to not remove null values at this time, since all questions do not apply to all study participants

In [10]:
#Viewing summary of data for Congestive heart failure age of onset
df_full.MCQ180D.describe()

count    131.000000
mean      49.358779
std       13.016007
min       10.000000
25%       41.000000
50%       50.000000
75%       58.000000
max       80.000000
Name: MCQ180D, dtype: float64

In [11]:
#Viewing summary of current age of all study participants included in this sample.
df_selected.RIDAGEYR.describe()

count    9.971000e+03
mean     3.189941e+01
std      2.476883e+01
min      5.397605e-79
25%      9.000000e+00
50%      2.700000e+01
75%      5.300000e+01
max      8.000000e+01
Name: RIDAGEYR, dtype: float64

In [12]:
df_selected.HUD080.describe()

count    868.000000
mean       1.473502
std        0.962018
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        6.000000
Name: HUD080, dtype: float64

In [13]:
#Viewing boxplot for age of onset of Congestive Heart Failure
df_selected.MCQ180F.plot(kind='box')
plt.show

NameError: name 'plt' is not defined

In [ ]:
#Viewing boxplot for number hospital stays
df_selected.HUD080.plot(kind='box')
plt.show
df_selected.HUD080.plot(kind='hist')
plt.show